/* classes utilitaires, des mixins ou des fonctions SASS qui peuvent être réutilisées 
à plusieurs endroits dans le code pour appliquer des styles courants 
ou des fonctionnalités spécifiques.*/


// Classes utilitaires pour le positionnement
.position-relative {
    position: relative;
  }
  
  .position-absolute {
    position: absolute;
  }
  
  .position-fixed {
    position: fixed;
  }
  
  // Classes utilitaires pour le centrage
  .text-center {
    text-align: center;
  }
  
  .flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  // Mixin pour la bordure arrondie
  @mixin rounded-border($radius: 4px) {
    border-radius: $radius;
  }
  
  // Fonction pour générer des couleurs légèrement plus claires
  @function lighten-color($color, $amount: 10%) {
    @return lighten($color, $amount);
  }